@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 h2 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("/lib/img/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.error-text {
    color: red;
    display: block;
    margin-top: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    background-color: rgba(0, 0, 0, 0.72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

a {
    text-decoration: none !important;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
    }

    .navigation a:hover::after {
        transform: scaleX(1);
    }

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

    .navigation .btnLogin-popup:hover {
        background: #fff;
        color: #162938;
    }

.block {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image {
    width: 450px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.info {
    max-width: 600px;
    font-size: 1.5em;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 2.3em;
}


.course-card {
    background: #000000;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin: 0 auto 20px;
    width: 600px;
}


.title {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #ffffff;
}

.author {
    color: #afaeae;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.category-section {
    margin-bottom: 15px;
}

.category {
    display: inline-block;
    background: #eef1f6;
    color: #000000;
    border-radius: 20px;
    padding: 5px 12px;
    font-size: 0.8rem;
}

.course-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #ffffff;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 160px;
}

.course-request-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.buy-btn {
    background-color: #51009d;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: translateY(-7px);
}

    .buy-btn:hover {
        background-color: lab(16.83% 49.7 -60.09);
        transform: translateY(-2px);
    }

    .buy-btn:active {
        background-color: #2c0056;
        transform: translateY(1px);
    }

.wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

    .wrapper.preload * {
        animation-duration: 0s !important;
        -webkit-animation-duration: 0s !important;
        transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
    }

    .wrapper.active-popup {
        transform: scale(1);
    }

    .wrapper.active {
        height: 680px;
    }

    .wrapper .form-box {
        width: 100%;
        padding: 40px;
    }

        .wrapper .form-box.login {
            transition: transform .18s ease;
            transform: translateX(0);
        }

    .wrapper.active .form-box.login {
        transition: none;
        transform: translateX(-400px);
    }

    .wrapper .form-box.register {
        position: absolute;
        transition: none;
        transform: translateX(400px);
    }

    .wrapper.active .form-box.register {
        transition: transform .18s ease;
        transform: translateX(0);
    }

    .wrapper .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #ffffff;
        font-size: 2em;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;
    }

.form-box h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}

.form-box h3 {
    color: #ffffff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1em;
        color: #ffffff;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:not(:placeholder-shown) ~ label {
        top: -5px;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: #ffffff;
        padding: 0 35px 0 5px;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        font-size: 1.2em;
        color: #ffffff;
        line-height: 57px;
    }

.forgot-password {
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
}

    .forgot-password a {
        color: #ffffff;
        text-decoration: none;
    }

        .forgot-password a:hover {
            text-decoration: underline;
        }

.btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0)000;
    font-weight: 525;
}

.login-register {
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

    .login-register p a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }

        .login-register p a:hover {
            text-decoration: underline;
        }

.buy-btn:active {
    background-color: #2c0056;
    transform: translateY(1px);
}

.account-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 160px;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 10px;
}

    .account-container h2 {
        font-size: 2em;
        color: #ffffff;
        text-align: center;
    }

    .account-container h3 {
        color: #ffffff;
    }

    .account-container h4 {
        color: #ffffff;
    }

.account-header {
    text-align: center;
    margin-bottom: 30px;
}

    .account-header h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .account-header p {
        font-size: 1.1rem;
        color: #aaa;
    }

.account-details {
    display: flex;
    justify-content: space-between;
}

.profile-section {
    width: 30%;
    text-align: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.user-info p {
    font-size: 1rem;
    color: #bbb;
    color: #ffffff;
}

.btn-edit {
    background-color: #51009d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-edit:hover {
        background-color: #37007b;
    }

.btn-add-test {
    background-color: #00809b;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-add-test:hover {
        background-color: #005c6f;
    }

.btn-view-lesson {
    background-color: #a09303;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-view-lesson:hover {
        background-color: #625a02;
    }

.courses-section {
    width: 65%;
}

    .courses-section h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }

.course-list {
    margin-bottom: 20px;
}

.course-item {
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 25px;
}

    .course-item h4 {
        font-size: 1.3rem;
        margin-bottom: 8px;
    }

.course-description {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    overflow-x: hidden;
}

.course-actions {
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.course-request-actions {
    display: flex;
    gap: 10px;
    margin-right: auto;
    justify-content: center;
}

.btn-edit {
    background-color: #51009d;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-edit:hover {
        background-color: #37007b;
    }

.btn-lessons {
    background-color: #008a65;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-lessons:hover {
        background-color: #006046;
    }

.btn-delete {
    background-color: #ac2222;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

    .btn-delete:hover {
        background-color: #7f1a1a;
    }

.btn-add-course {
    background-color: #51009d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    display: block;
    transition: background-color 0.3s ease;
    text-align: center;
}

    .btn-add-course:hover {
        background-color: #37007b;
    }


.form-container {
    background-color: rgba(0, 0, 0, 0.72);
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    margin-top: 140px;
    text-align: center;
}

    .form-container h2 {
        color: #fff;
        margin-bottom: 20px;
    }

.input-group {
    margin-bottom: 15px;
}

    .input-group label {
        color: #fff;
        display: block;
        font-size: 1.1em;
        margin-bottom: 8px;
    }

    .input-group input,
    .input-group select,
    .input-group textarea {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #fff;
        border-radius: 6px;
        background: #000000eb;
        color: #fff;
    }

    .input-group textarea {
        resize: vertical;
    }

.btn-submit {
    width: 100%;
    background-color: #51009d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

    .btn-submit:hover {
        background-color: #37007b;
    }

.lessons-section {
    max-width: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    padding: 30px;
    border-radius: 15px;
    margin-top: 180px;
    color: #fff;
}

    .lessons-section .btn-add {
        display: inline-block;
        background-color: #51009d;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 15px;
        transition: background-color 0.3s ease;
    }

        .lessons-section .btn-add:hover {
            background-color: #37007b;
        }

    .lessons-section h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

.lessons-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #333;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

    .lesson-item:hover {
        background-color: #444;
    }

.lesson-actions {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.lesson-container {
    margin-top: 180px;
    max-width: 900px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.72);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: #ffffff;
    text-align: center;
}

.lesson-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.lesson-video {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

.lesson-description {
    font-size: 1.1em;
    color: #dddddd;
}

.category-list-container {
    margin-top: 160px;
    background-color: rgba(0, 0, 0, 0.72);
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    max-width: 800px;
    width: 100%;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

    .category-list .category {
        background-color: #fff;
        color: #000;
        padding: 8px 16px;
        font-size: 1rem;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        .category-list .category:hover {
            background-color: #51009d;
            color: #fff;
        }

.test-form {
    background-color: rgba(0, 0, 0, 0.72);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 800px;
    margin-top: 160px;
}

    .test-form .btn {
        padding: 8px 15px;
        background-color: #51009d;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

.question {
    border: 1px solid #aaa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #333;
}



    .question.collapsed .answers {
        display: none;
    }

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

    .question-header span {
        margin-left: 10px;
    }

.answers {
    margin-top: 10px;
}

.answer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.add-answer {
    margin-bottom: 12px;
}

.delete-question {
    margin-bottom: 12px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    /*    margin-bottom: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.btn-danger {
    background-color: #c0392b;
}

    .btn-danger:hover {
        background-color: #922b21;
    }

.btn-pass {
    background-color: steelblue;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-view-details {
    margin: 10px;
    font-size: 0.7em;
    padding: 6px;
}

.course-item {
    background-color: #000000;
    border-radius: 8px;
    padding: 25px;
    max-width: 700px;
    margin-bottom: 25px;
}

    .course-item h4 {
        color: white;
        font-size: 1.3rem;
        margin-bottom: 8px;
    }

.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.72);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.custom-modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    max-width: 500px;
    width: 90%;
    text-align: center;
    color: #fff;
}

.modal-textarea {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #000000eb;
    color: #fff;
    resize: vertical;
    margin-top: 15px;
    min-height: 100px;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.courses-section-header {
    margin-bottom: 20px;
}
