<div id="errorPopup" class="custom-modal">
    <div class="custom-modal-content">
        <h2>Error!</h2>
        <p id="errorMessage">@TempData["ErrorMessage"]</p>
    </div>
</div>

<script src="~/js/error/errorMoal.js"></script>