@using OnlineCoursePlatform.App.ViewModels.User
@model UserDetailsResponse;

<div class="course-item">
    <div class="course-actions">
        <a asp-controller="" asp-action="" asp-route-some="" class="btn-lessons">Teachers requests</a>
        <a asp-controller="coursePublishRequest" asp-action="list" class="btn-pass">Courses requests</a>
        <a asp-controller="" asp-action="" asp-route-some="" class="btn-delete">Сomplaints</a>
        <a asp-controller="" asp-action="" asp-route-some="" class="btn-add-test">Block user</a>
        <a asp-controller="" asp-action="" asp-route-some="" class="btn-edit">Edit course</a>
    </div>
</div>