@using OnlineCoursePlatform.App.ViewModels.Test
@model TestViewModel

@{
    var message = TempData["Message"] as string;
}

<form asp-controller="Test" asp-action="Create" class="test-form" id="testForm">
    <h2>Create Test</h2>

    <h1 class="error-text">@message</h1>

    <div class="form-group">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="error-text"></span>
        <input asp-for="Title" />
    </div>

    <div id="questions"></div>

    <input type="hidden" asp-for="LessonId" />

    <button type="button" class="btn add-answer" id="addQuestionBtn">+ Add Question</button>
    <button type="submit" class="btn delete-question">Save Test</button>
</form>

<template id="question-template">
    <div class="question" data-index="">
        <div class="question-header">
            <input type="text" placeholder="Question Text" />
            <span class="toggle"><ion-icon name="caret-down-outline"></ion-icon></span>
        </div>
        <div class="answers">
            <button type="button" class="btn add-answer">+ Add Answer</button>
            <button type="button" class="btn btn-danger-test delete-question">Delete Question</button>
        </div>
    </div>
</template>

<template id="answer-template">
    <div class="answer">
        <input type="checkbox" value="true" />
        <input type="text" placeholder="Answer Option" />
        <button type="button" class="btn btn-danger-test delete-answer">Delete Answer</button>
    </div>
</template>

<script src="~/js/test/createTestMenu.js"></script>
