@using OnlineCoursePlatform.App.ViewModels.Test
@model TestViewModel

@{
    var message = TempData["Message"] as string;
}

<form asp-controller="Test" asp-action="Create" class="test-form" id="testForm">
    <h2>Create Test</h2>

    <h1 class="error-text">@message</h1>

    <div class="form-group">
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="error-text"></span>
        <input asp-for="Title" />
    </div>

    <div class="question-header">

    </div>

    <div id="questions"></div>
    <input type="hidden" asp-for="LessonId" />
    <button type="button" class="btn" onclick="addQuestion()">+ Add Question</button>
    <button type="submit" class="btn">Save Test</button>
</form>

<script src="~/js/test/createTestMenu.js"></script>
