@using OnlineCoursePlatform.App.ViewModels.Course
@model List<CourseListViewModel>

<div class="card-container">
    @foreach (var course in Model)
    {
        @await Html.PartialAsync("_CourseCard", course)
    }
</div>