@using OnlineCoursePlatform.App.ViewModels.Lesson
@model List<LessonViewModel>;

<div class="lessons-section">
    <h2>Lessons</h2>
    <div class="lessons-list">
        @foreach (var lesson in Model)
        {
            <div class="lesson-item">
                <span>@lesson.Order. @lesson.Title</span>                
                <button class="btn-edit">Edit</button>
            </div>
        }
    </div>
    <a asp-controller="lesson" asp-action="add" asp-route-courseId="@Model.First().CourseId" class="btn-add">Add lesson</a>
</div>